.infocontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: fit-content;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 1em;
}
.transparentdivisorflag {
  padding: 1em;
  background-color: #00000036;

  border-radius: 15px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 35em;
  height: 34em;
}
.countryDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 16em;
}
.contentNameFlag {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.titleflag {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titlefont {
  color: white;
  margin-right: 1rem;
  font-size: 2.5em;
}
.titlefontBIG{
  color: white;
  margin-right: 1rem;
  font-size: 1em;
}
.imageFlag {
  border-radius: 20px;
}
.detailsfont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  font-size: 1.3em;
}
.iconsector{
 display: flex;
 flex-direction: column;
}
.transparentdivisor {
  justify-content:center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3px;
  padding: 1em;
  background-color: #00000036;

  border-radius: 15px;
position: relative;

  max-width: 25em;
  max-height: 16em;
}





.populationIcon {
  border-radius: 150px;

}






.mapIcon {
  border-radius: 150px;
}





hr {
  border-color: var(--hr-color);
  margin: 20px 0;
}
.activities {
  justify-content: space-between;
  margin-left: 5em;
  margin-right: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.activitiesdetail {
  color: white;
}

footer {
  margin-top: 5%;
}

.emptymessagediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.emptymessage {
  font-size: 3em;
  justify-content: center;
}
