.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.number {
  margin: 1px;
}
.paginationbutton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  background-color: #000000ab;

  color: white;
  font-weight: bold;
  border-radius: 150px;
  justify-content: center;
}
.paginationbutton:active {
  color: blue;
  height: 30px;
  width: 30px;
  justify-content: center;
}
.paginationbutton:focus {
  color: blue;
  height: 30px;
  width: 30px;
  justify-content: center;
}
/* .paginationbutton:enabled{
  color: blue;
  height: 30px;
  width: 30px;
  justify-content: center
} */
